<div class="row">
<div class="col s12 m6 l12" {% if repo.fork %}id="forked"{% endif %}>
        <div class="card hoverable">
            <img src="TigerZing.github.io/assets/res/certificate.jpg" width="100%">
        </div>
        
      </div>
      <div class="col s12 m6 l6" {% if repo.fork %}id="forked"{% endif %}>
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light geopattern activator" data-pattern-id="{{repo.name}}" style="background-image: url('TigerZing.github.io/assets/res/tigerzing.jpg');">
                <a class="card-title center-align valign-wrapper" href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
              </div>
              <div class="card-content valign-wrapper center-align activator">
                <span class="activator grey-text text-darken-1">{{repo.description}}</span>
              </div>
            </div>
            
          </div>
          </div>