<div class="col s12 switch">
  <label>
    Show important projects
    <input class="fork-switch" type="checkbox" checked="1" onchange="toggleForked()">
    <span class="lever"></span>
  </label>
</div>
<div class="col s12 m6 l4" id="forked">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light" data-pattern-id="{{repo.name}}" style="
    background-image: url('/assets/res/test1.jpg');
    background-size: cover;">
    </div>
    <div class="card-content valign-wrapper center-align">
      <span class="activator grey-text text-darken-1">Project 1</span>
    </div>
  </div>
</div>
<div class="col s12 m6 l4" id="forked">
    <div class="card hoverable">
      <div class="card-image waves-effect waves-block waves-light" data-pattern-id="{{repo.name}}" style="
      background-image: url('/assets/res/test1.jpg');
      background-size: cover;">
      </div>
      <div class="card-content valign-wrapper center-align">
        <span class="activator grey-text text-darken-1">Project 1</span>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l4" id="forked">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light" data-pattern-id="{{repo.name}}" style="
        background-image: url('/assets/res/test1.jpg');
        background-size: cover;">
        </div>
        <div class="card-content valign-wrapper center-align">
          <span class="activator grey-text text-darken-1">Project 2</span>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4" id="forked">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light" data-pattern-id="{{repo.name}}" style="
          background-image: url('/assets/res/test1.jpg');
          background-size: cover;">
          </div>
          <div class="card-content valign-wrapper center-align">
            <span class="activator grey-text text-darken-1">Project 3</span>
          </div>
        </div>
      </div>