<style>
  .highlighter-rouge{
    display:none;
  }
  .cardShow{
    height: 7em;
    overflow: hidden;
    font-size: 15px;
    line-height: 90%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .tag-chip:hover {
    color: #fff;
    background-color: #616161;
    transition:all .3s ease-in-out;
  }
</style>
<div class="col s12 switch">
  <label>
    Show important projects
    <input class="fork-switch" type="checkbox" onchange="toggleForked()">
    <span class="lever"></span>
  </label>
</div>
<div class="col s12 m6 l4" id="">
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light" data-pattern-id="{{repo.name}}" style="
    background-image: url('/assets/res/test1.jpg');
    background-size: cover;">
    </div>
    <div class="cardShow">
      <p style="text-align:center;font-size:12px;"><strong>PERSON SEACH IN SURVEILLANCE CAMERA NETWORK</strong></p>
      <span style="font-size: 12px;">
      <p><b>Programming language</b>
      <p>
        <div class="tag-list">
          <a class="tag-chip">
            <div class="chip z-depth-1">C</div>
          </a>
          <a class="tag-chip">
            <div class="chip z-depth-1">C</div>
          </a>
          <a class="tag-chip">
            <div class="chip z-depth-1">Python</div>
          </a>
      </div>
    </p>
      <p><b>Type</b>dskaljdkl jdsklajdk jdskjakl </p>
      </span>
    </div>
  </div>
</div>
