<style>
  .highlighter-rouge{
    display:none;
  }
  .cardShow{
    height: 14em;
    overflow: hidden;
    font-size: 15px;
    line-height: 90%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .z-depth-1:hover {
    color: #fff;
    background-color: #616161;
    transition:all .3s ease-in-out;
  }
  .iconIndex{
    font-size: 15px;
    line-height: 0.4;
  }

</style>
<div class="col s12 switch">
  <label>
    Show important projects
    <input class="fork-switch" type="checkbox" onchange="toggleForked()">
    <span class="lever"></span>
  </label>
</div>
<div class="row">
    <div class="col s12 m6 l4" id="">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light" data-pattern-id="{{repo.name}}" style="
          background-image: url('/assets/res/thesis-project.png');
          background-size: cover;">
          </div>
          <div class="cardShow">
            <a href="/thesis-project"><p style="text-align:center;font-size:14px;color:#009688; line-height: 140%;"><strong>PERSON SEACH IN SURVEILLANCE CAMERA NETWORK</strong></p></a>
            <div class="divider"></div>
            <span style="font-size: 12px;">
              <p>
              <i class="material-icons iconIndex">alarm</i>&emsp; 07/2018
              <i class="material-icons iconIndex">work</i>&emsp; Graduate thesis
              <i class="material-icons iconIndex">memory</i>&emsp; Face detection, Face recognion, Person detection, Person attribute classification, ...
              <i class="material-icons iconIndex">code</i>&emsp; Python, Django, Tensorflow, Keras, OpenCV, Yolo, MTCNN, Haarcascade, ...
              </p>
            </span>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4" id="">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light" data-pattern-id="{{repo.name}}" style="
            background-image: url('/assets/res/tank-project.png');
            background-size: cover;">
            </div>
            <div class="cardShow">
              <a href="/thesis-project"><p style="text-align:center;font-size:14px;color:#009688; line-height: 140%;"><strong>PERSON SEACH IN SURVEILLANCE CAMERA NETWORK</strong></p></a>
              <div class="divider"></div>
              <span style="font-size: 12px;">
                <p><b>Type :</b> Graduate thesis</p>
                <p><b>Techniques : </b> Face detection, Face recognion, Person detection,...</p>
                <p><b>Programming languages/ Frameworks</b></p>
                <p>
                    Python, Django, Tensorflow, Keras, OpenCV...
                </p>
              </span>
            </div>
          </div>
        </div>
      <div class="col s12 m6 l4" id="">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light" data-pattern-id="{{repo.name}}" style="
            background-image: url('/assets/res/webjava-project.jpg');
            background-size: cover;">
            </div>
            <div class="cardShow">
              <p style="text-align:center;font-size:12px;color:#009688; line-height: 140%;"><strong>PERSON SEACH IN SURVEILLANCE CAMERA NETWORK</strong></p>
              <div class="divider"></div>
              <span style="font-size: 12px;">
                <p><b>Type :</b> Assignment</p>
                <p><b>Techniques : </b></p>
                <p><b>Programming language</b></p>
                <p>
                  C, C++, C#, Python
                </p>
              </span>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4" id="">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light" data-pattern-id="{{repo.name}}" style="
              background-image: url('/assets/res/megustar-project.jpg');
              background-size: cover;">
              </div>
              <div class="cardShow">
                <p style="text-align:center;font-size:12px;color:#009688; line-height: 140%;"><strong>PERSON SEACH IN SURVEILLANCE CAMERA NETWORK</strong></p>
                <div class="divider"></div>
                <span style="font-size: 12px;">
                  <p><b>Type :</b> Assignment</p>
                  <p><b>Techniques : </b></p>
                  <p><b>Programming language</b></p>
                  <p>
                    C, C++, C#, Python
                  </p>
                </span>
              </div>
            </div>
          </div>
</div>
<div class="row">
    <div class="col s12 m6 l4" id="">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light" data-pattern-id="{{repo.name}}" style="
          background-image: url('/assets/res/piano-project.jpg');
          background-size: cover;">
          </div>
          <div class="cardShow">
            <p style="text-align:center;font-size:12px;color:#009688; line-height: 140%;"><strong>PERSON SEACH IN SURVEILLANCE CAMERA NETWORK</strong></p>
            <div class="divider"></div>
            <span style="font-size: 12px;">
              <p><b>Type :</b> Assignment</p>
              <p><b>Techniques : </b></p>
              <p><b>Programming language</b></p>
              <p>
                C, C++, C#, Python
              </p>
            </span>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l4" id="">
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light" data-pattern-id="{{repo.name}}" style="
            background-image: url('/assets/res/caro-project.jpg');
            background-size: cover;">
            </div>
            <div class="cardShow">
              <p style="text-align:center;font-size:12px;color:#009688; line-height: 140%;"><strong>PERSON SEACH IN SURVEILLANCE CAMERA NETWORK</strong></p>
              <div class="divider"></div>
              <span style="font-size: 12px;">
                <p><b>Type :</b> Assignment</p>
                <p><b>Techniques : </b></p>
                <p><b>Programming language</b></p>
                <p>
                  C, C++, C#, Python
                </p>
              </span>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4" id="">
            <div class="card hoverable">
              <div class="card-image waves-effect waves-block waves-light" data-pattern-id="{{repo.name}}" style="
              background-image: url('/assets/res/hackathon-project.jpg');
              background-size: cover;">
              </div>
              <div class="cardShow">
                <p style="text-align:center;font-size:12px;color:#009688; line-height: 140%;"><strong>PERSON SEACH IN SURVEILLANCE CAMERA NETWORK</strong></p>
                <div class="divider"></div>
                <span style="font-size: 12px;">
                  <p><b>Type :</b> Assignment</p>
                  <p><b>Techniques : </b></p>
                  <p><b>Programming language</b></p>
                  <p>
                    C, C++, C#, Python
                  </p>
                </span>
              </div>
            </div>
          </div>
</div>
    
          <div class="col s12 m6 l4" id="">
              <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light" data-pattern-id="{{repo.name}}" style="
                background-image: url('/assets/res/test1.jpg');
                background-size: cover;">
                </div>
                <div class="cardShow">
                  <a><p style="text-align:center;font-size:12px;color:#009688; line-height: 140%;"><strong>PERSON SEACH IN SURVEILLANCE CAMERA NETWORK</strong></p></a>
                  <div class="divider"></div>
                  <span style="font-size: 12px;">
                    <p><b>Type :</b> Assignment</p>
                    <p><b>Techniques : </b></p>
                    <p><b>Programming language</b></p>
                    <p>
                      C, C++, C#, Python
                    </p>
                  </span>
                </div>
              </div>
            </div>
